<section class="main-sec">
      <div class="container">
        <div class="main-wrap">
          <div class="row">
            <div class="col-lg-12">
              <div class="logo text-center mb-0">

              <img src="assets/img/logo.svg" alt=""></div>
              <div class="tab-content" id="pills-tabContent">
                <hr />
                <h3 class="text-center main">Deposit</h3>
                <div class="tab-content" id="pills-tab1Content">
                  <div id="pills-home1" role="tabpanel" aria-labelledby="pills-home-tab">
                    <div class="recive-data">
                      <div class="id-box text-center">
                        <span>Your Wallet ID</span>
                        <div class="id-data">
                          <h6 ngxClipboard>{{publicKey}}</h6>
                        </div>
                      </div>

                      <div class="relative">
                        <br>
                        <button type="submit" class="submit" ngxClipboard [cbContent]="publicKey">Copy Public Key</button>
                        <div class="qr-code text-center">
                          <ngx-qrcode [qrc-element-type]="elementType"
                                      [qrc-value]="publicKey"
                                      qrc-class="aclass"
                                      qrc-errorCorrectionLevel="L">
                          </ngx-qrcode>
                        </div>
                        <h6 class="text-center">Click below to Deposit 1040 TRX to create Campaign </h6>
                        <h6 class="spin-creat">
                          <a class="main" href="{{getTrxUrl}}" target="_blank">Click here to get TRX <i class="fa fa-coins"></i> </a>
                        </h6>
                        <div class="white-box">
                          <h4>Total Avaliable TRX</h4>
                          <span>{{currentTrxBalanace}} TRX</span> </div>
                        <br>
                        <div class="relative">
                          <button type="submit" class="submit"  (click)="checkbalance()" >Next</button>
                            <img *ngIf="loading" class="pl-3" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />

                            </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>

